CREATE DATABASE SOUL
GO

USE [SOUL]
GO
/****** Object:  Table [dbo].[administradores]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administradores](
	[idAdmin] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompleto] [nvarchar](150) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[telefono] [nvarchar](30) NULL,
	[carnet] [nvarchar](30) NULL,
	[passwordHash] [varbinary](256) NOT NULL,
	[idRol] [tinyint] NOT NULL,
	[estado] [bit] NOT NULL,
	[fechaCreacion] [datetime2](0) NOT NULL,
	[fechaActualizado] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_administradores_carnet] UNIQUE NONCLUSTERED 
(
	[carnet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_administradores_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aplicaciones]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aplicaciones](
	[idAplicacion] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idProyecto] [int] NOT NULL,
	[idEstado] [tinyint] NOT NULL,
	[enviadoEn] [datetime2](0) NULL,
	[revisadoEn] [datetime2](0) NULL,
	[aceptadoEn] [datetime2](0) NULL,
	[rechazadoEn] [datetime2](0) NULL,
	[finalizadoEn] [datetime2](0) NULL,
	[urlCartaAceptacion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[idAplicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_aplicaciones_usuarioProyecto] UNIQUE NONCLUSTERED 
(
	[idUsuario] ASC,
	[idProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carreras]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carreras](
	[idCarrera] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_carreras_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carrerasProyecto]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carrerasProyecto](
	[idProyecto] [int] NOT NULL,
	[idCarrera] [int] NOT NULL,
 CONSTRAINT [PK_carrerasProyecto] PRIMARY KEY CLUSTERED 
(
	[idProyecto] ASC,
	[idCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departamentos]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamentos](
	[idDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_departamentos_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estadosAplicacion]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estadosAplicacion](
	[idEstado] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_estadosAplicacion_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[habilidades]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[habilidades](
	[idHabilidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[tipo] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idHabilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[habilidadesProyecto]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[habilidadesProyecto](
	[idProyecto] [int] NOT NULL,
	[idHabilidad] [int] NOT NULL,
	[esRequerida] [bit] NOT NULL,
 CONSTRAINT [PK_habilidadesProyecto] PRIMARY KEY CLUSTERED 
(
	[idProyecto] ASC,
	[idHabilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[habilidadesUsuario]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[habilidadesUsuario](
	[idUsuario] [int] NOT NULL,
	[idHabilidad] [int] NOT NULL,
 CONSTRAINT [PK_habilidadesUsuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idHabilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idiomas]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idiomas](
	[idIdioma] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_idiomas_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idiomasProyecto]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idiomasProyecto](
	[idProyecto] [int] NOT NULL,
	[idIdioma] [int] NOT NULL,
	[idINivel] [int] NOT NULL,
 CONSTRAINT [PK_idiomasProyecto] PRIMARY KEY CLUSTERED 
(
	[idProyecto] ASC,
	[idIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idiomasUsuario]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idiomasUsuario](
	[idUsuario] [int] NOT NULL,
	[idIdioma] [int] NOT NULL,
	[idINivel] [int] NOT NULL,
 CONSTRAINT [PK_idiomasUsuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instituciones]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instituciones](
	[idInstitucion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[idDepartamento] [int] NULL,
	[idMunicipio] [int] NULL,
	[nombreContacto] [nvarchar](150) NULL,
	[emailContacto] [nvarchar](150) NULL,
	[telefonoContacto] [nvarchar](30) NULL,
	[estado] [bit] NOT NULL,
	[fechaCreación] [datetime2](0) NOT NULL,
	[fechaActualizado] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idInstitucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modalidades]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modalidades](
	[idModalidad] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idModalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_modalidades_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[municipios]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[municipios](
	[idMunicipio] [int] IDENTITY(1,1) NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_municipios_dep_nombre] UNIQUE NONCLUSTERED 
(
	[idDepartamento] ASC,
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nivelesIdioma]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nivelesIdioma](
	[idINivel] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](10) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idINivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_nivelesIdioma_codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notificaciones]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notificaciones](
	[idNotificacion] [bigint] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idProyecto] [int] NULL,
	[idAplicacion] [int] NULL,
	[titulo] [nvarchar](150) NOT NULL,
	[cuerpo] [nvarchar](500) NOT NULL,
	[estaLeida] [bit] NOT NULL,
	[fechaCreación] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[opcionesDisponibilidad]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opcionesDisponibilidad](
	[idDisponibilidad] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDisponibilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_disponibilidad_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proyectos]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proyectos](
	[idProyecto] [int] IDENTITY(1,1) NOT NULL,
	[idInstitucion] [int] NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[capacidad] [int] NOT NULL,
	[horasServicio] [smallint] NOT NULL,
	[fechaInicio] [date] NULL,
	[fechaFin] [date] NULL,
	[idModalidad] [tinyint] NULL,
	[idAdmin] [int] NULL,
	[idUsuario] [int] NULL,
	[estado] [bit] NOT NULL,
	[fechaCreación] [datetime2](0) NOT NULL,
	[fechaActualizado] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proyectosGuardados]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proyectosGuardados](
	[idUsuario] [int] NOT NULL,
	[idProyecto] [int] NOT NULL,
	[guardadoEn] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_proyectosGuardados] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rolesAdmin]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rolesAdmin](
	[idRol] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombreRol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_rolesAdmin_nombre] UNIQUE NONCLUSTERED 
(
	[nombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 9/30/2025 10:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompleto] [nvarchar](150) NOT NULL,
	[carnet] [nvarchar](30) NOT NULL,
	[fechaNacimiento] [date] NULL,
	[email] [nvarchar](150) NOT NULL,
	[telefono] [nvarchar](30) NULL,
	[idDepartamento] [int] NULL,
	[idMunicipio] [int] NULL,
	[idCarrera] [int] NULL,
	[uvs] [smallint] NOT NULL,
	[idDisponibilidad] [tinyint] NULL,
	[tieneTransporte] [bit] NOT NULL,
	[urlCv] [nvarchar](500) NULL,
	[passwordHash] [varbinary](256) NOT NULL,
	[estado] [bit] NOT NULL,
	[fechaCreación] [datetime2](0) NOT NULL,
	[fechaActualizado] [datetime2](0) NOT NULL,
	[genero] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_usuarios_carnet] UNIQUE NONCLUSTERED 
(
	[carnet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_usuarios_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[administradores] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[administradores] ADD  DEFAULT (sysutcdatetime()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[administradores] ADD  DEFAULT (sysutcdatetime()) FOR [fechaActualizado]
GO
ALTER TABLE [dbo].[habilidadesProyecto] ADD  DEFAULT ((1)) FOR [esRequerida]
GO
ALTER TABLE [dbo].[instituciones] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[instituciones] ADD  DEFAULT (sysutcdatetime()) FOR [fechaCreación]
GO
ALTER TABLE [dbo].[instituciones] ADD  DEFAULT (sysutcdatetime()) FOR [fechaActualizado]
GO
ALTER TABLE [dbo].[notificaciones] ADD  DEFAULT ((0)) FOR [estaLeida]
GO
ALTER TABLE [dbo].[notificaciones] ADD  DEFAULT (sysutcdatetime()) FOR [fechaCreación]
GO
ALTER TABLE [dbo].[proyectos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[proyectos] ADD  DEFAULT (sysutcdatetime()) FOR [fechaCreación]
GO
ALTER TABLE [dbo].[proyectos] ADD  DEFAULT (sysutcdatetime()) FOR [fechaActualizado]
GO
ALTER TABLE [dbo].[proyectosGuardados] ADD  DEFAULT (sysutcdatetime()) FOR [guardadoEn]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [uvs]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [tieneTransporte]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (sysutcdatetime()) FOR [fechaCreación]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (sysutcdatetime()) FOR [fechaActualizado]
GO
ALTER TABLE [dbo].[aplicaciones]  WITH CHECK ADD  CONSTRAINT [FK_aplicaciones_estado] FOREIGN KEY([idEstado])
REFERENCES [dbo].[estadosAplicacion] ([idEstado])
GO
ALTER TABLE [dbo].[aplicaciones] CHECK CONSTRAINT [FK_aplicaciones_estado]
GO
ALTER TABLE [dbo].[aplicaciones]  WITH CHECK ADD  CONSTRAINT [FK_aplicaciones_proyecto] FOREIGN KEY([idProyecto])
REFERENCES [dbo].[proyectos] ([idProyecto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[aplicaciones] CHECK CONSTRAINT [FK_aplicaciones_proyecto]
GO
ALTER TABLE [dbo].[aplicaciones]  WITH CHECK ADD  CONSTRAINT [FK_aplicaciones_usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[aplicaciones] CHECK CONSTRAINT [FK_aplicaciones_usuario]
GO
ALTER TABLE [dbo].[carrerasProyecto]  WITH CHECK ADD  CONSTRAINT [FK_carrerasProyecto_carrera] FOREIGN KEY([idCarrera])
REFERENCES [dbo].[carreras] ([idCarrera])
GO
ALTER TABLE [dbo].[carrerasProyecto] CHECK CONSTRAINT [FK_carrerasProyecto_carrera]
GO
ALTER TABLE [dbo].[carrerasProyecto]  WITH CHECK ADD  CONSTRAINT [FK_carrerasProyecto_proyecto] FOREIGN KEY([idProyecto])
REFERENCES [dbo].[proyectos] ([idProyecto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[carrerasProyecto] CHECK CONSTRAINT [FK_carrerasProyecto_proyecto]
GO
ALTER TABLE [dbo].[habilidadesProyecto]  WITH CHECK ADD  CONSTRAINT [FK_habilidadesProyecto_habilidad] FOREIGN KEY([idHabilidad])
REFERENCES [dbo].[habilidades] ([idHabilidad])
GO
ALTER TABLE [dbo].[habilidadesProyecto] CHECK CONSTRAINT [FK_habilidadesProyecto_habilidad]
GO
ALTER TABLE [dbo].[habilidadesProyecto]  WITH CHECK ADD  CONSTRAINT [FK_habilidadesProyecto_proyecto] FOREIGN KEY([idProyecto])
REFERENCES [dbo].[proyectos] ([idProyecto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[habilidadesProyecto] CHECK CONSTRAINT [FK_habilidadesProyecto_proyecto]
GO
ALTER TABLE [dbo].[habilidadesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_habilidadesUsuario_habilidad] FOREIGN KEY([idHabilidad])
REFERENCES [dbo].[habilidades] ([idHabilidad])
GO
ALTER TABLE [dbo].[habilidadesUsuario] CHECK CONSTRAINT [FK_habilidadesUsuario_habilidad]
GO
ALTER TABLE [dbo].[habilidadesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_habilidadesUsuario_usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[habilidadesUsuario] CHECK CONSTRAINT [FK_habilidadesUsuario_usuario]
GO
ALTER TABLE [dbo].[idiomasProyecto]  WITH CHECK ADD  CONSTRAINT [FK_idiomasProyecto_idioma] FOREIGN KEY([idIdioma])
REFERENCES [dbo].[idiomas] ([idIdioma])
GO
ALTER TABLE [dbo].[idiomasProyecto] CHECK CONSTRAINT [FK_idiomasProyecto_idioma]
GO
ALTER TABLE [dbo].[idiomasProyecto]  WITH CHECK ADD  CONSTRAINT [FK_idiomasProyecto_nivel] FOREIGN KEY([idINivel])
REFERENCES [dbo].[nivelesIdioma] ([idINivel])
GO
ALTER TABLE [dbo].[idiomasProyecto] CHECK CONSTRAINT [FK_idiomasProyecto_nivel]
GO
ALTER TABLE [dbo].[idiomasProyecto]  WITH CHECK ADD  CONSTRAINT [FK_idiomasProyecto_proyecto] FOREIGN KEY([idProyecto])
REFERENCES [dbo].[proyectos] ([idProyecto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[idiomasProyecto] CHECK CONSTRAINT [FK_idiomasProyecto_proyecto]
GO
ALTER TABLE [dbo].[idiomasUsuario]  WITH CHECK ADD  CONSTRAINT [FK_idiomasUsuario_idioma] FOREIGN KEY([idIdioma])
REFERENCES [dbo].[idiomas] ([idIdioma])
GO
ALTER TABLE [dbo].[idiomasUsuario] CHECK CONSTRAINT [FK_idiomasUsuario_idioma]
GO
ALTER TABLE [dbo].[idiomasUsuario]  WITH CHECK ADD  CONSTRAINT [FK_idiomasUsuario_nivel] FOREIGN KEY([idINivel])
REFERENCES [dbo].[nivelesIdioma] ([idINivel])
GO
ALTER TABLE [dbo].[idiomasUsuario] CHECK CONSTRAINT [FK_idiomasUsuario_nivel]
GO
ALTER TABLE [dbo].[idiomasUsuario]  WITH CHECK ADD  CONSTRAINT [FK_idiomasUsuario_usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[idiomasUsuario] CHECK CONSTRAINT [FK_idiomasUsuario_usuario]
GO
ALTER TABLE [dbo].[instituciones]  WITH CHECK ADD  CONSTRAINT [FK_instituciones_departamento] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[departamentos] ([idDepartamento])
GO
ALTER TABLE [dbo].[instituciones] CHECK CONSTRAINT [FK_instituciones_departamento]
GO
ALTER TABLE [dbo].[instituciones]  WITH CHECK ADD  CONSTRAINT [FK_instituciones_municipio] FOREIGN KEY([idMunicipio])
REFERENCES [dbo].[municipios] ([idMunicipio])
GO
ALTER TABLE [dbo].[instituciones] CHECK CONSTRAINT [FK_instituciones_municipio]
GO
ALTER TABLE [dbo].[municipios]  WITH CHECK ADD  CONSTRAINT [FK_municipios_departamento] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[departamentos] ([idDepartamento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[municipios] CHECK CONSTRAINT [FK_municipios_departamento]
GO
ALTER TABLE [dbo].[notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_notificaciones_aplicacion] FOREIGN KEY([idAplicacion])
REFERENCES [dbo].[aplicaciones] ([idAplicacion])
GO
ALTER TABLE [dbo].[notificaciones] CHECK CONSTRAINT [FK_notificaciones_aplicacion]
GO
ALTER TABLE [dbo].[notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_notificaciones_proyecto] FOREIGN KEY([idProyecto])
REFERENCES [dbo].[proyectos] ([idProyecto])
GO
ALTER TABLE [dbo].[notificaciones] CHECK CONSTRAINT [FK_notificaciones_proyecto]
GO
ALTER TABLE [dbo].[notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_notificaciones_usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notificaciones] CHECK CONSTRAINT [FK_notificaciones_usuario]
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD  CONSTRAINT [FK_proyectos_administrador] FOREIGN KEY([idAdmin])
REFERENCES [dbo].[administradores] ([idAdmin])
GO
ALTER TABLE [dbo].[proyectos] CHECK CONSTRAINT [FK_proyectos_administrador]
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD  CONSTRAINT [FK_proyectos_institucion] FOREIGN KEY([idInstitucion])
REFERENCES [dbo].[instituciones] ([idInstitucion])
GO
ALTER TABLE [dbo].[proyectos] CHECK CONSTRAINT [FK_proyectos_institucion]
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD  CONSTRAINT [FK_proyectos_modalidad] FOREIGN KEY([idModalidad])
REFERENCES [dbo].[modalidades] ([idModalidad])
GO
ALTER TABLE [dbo].[proyectos] CHECK CONSTRAINT [FK_proyectos_modalidad]
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD  CONSTRAINT [FK_proyectos_usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[proyectos] CHECK CONSTRAINT [FK_proyectos_usuario]
GO
ALTER TABLE [dbo].[proyectosGuardados]  WITH CHECK ADD  CONSTRAINT [FK_proyectosGuardados_proyecto] FOREIGN KEY([idProyecto])
REFERENCES [dbo].[proyectos] ([idProyecto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[proyectosGuardados] CHECK CONSTRAINT [FK_proyectosGuardados_proyecto]
GO
ALTER TABLE [dbo].[proyectosGuardados]  WITH CHECK ADD  CONSTRAINT [FK_proyectosGuardados_usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[proyectosGuardados] CHECK CONSTRAINT [FK_proyectosGuardados_usuario]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_carrera] FOREIGN KEY([idCarrera])
REFERENCES [dbo].[carreras] ([idCarrera])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_carrera]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_departamento] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[departamentos] ([idDepartamento])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_departamento]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_disponibilidad] FOREIGN KEY([idDisponibilidad])
REFERENCES [dbo].[opcionesDisponibilidad] ([idDisponibilidad])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_disponibilidad]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_municipio] FOREIGN KEY([idMunicipio])
REFERENCES [dbo].[municipios] ([idMunicipio])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_municipio]
GO
ALTER TABLE [dbo].[habilidades]  WITH CHECK ADD CHECK  (([tipo]='Blanda' OR [tipo]='Técnica'))
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD CHECK  (([capacidad]>=(0)))
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD CHECK  (([horasServicio]>=(0)))
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD  CONSTRAINT [CK_proyectos_rangoFechas] CHECK  (([fechaFin] IS NULL OR [fechaInicio] IS NULL OR [fechaFin]>=[fechaInicio]))
GO
ALTER TABLE [dbo].[proyectos] CHECK CONSTRAINT [CK_proyectos_rangoFechas]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD CHECK  (([genero]='O' OR [genero]='F' OR [genero]='M'))
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD CHECK  (([uvs]>=(0)))
GO
